*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
};


body {
    margin: 0;
    padding: 0;
    background-color: #dac2c2;
}

/* BARRA SUPERIOR */
.superior{
    text-align: center;
}
.superior a {
    
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.785);
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    
}
.superior li {
    display: inline-block;
    padding: 0.5%;    
}
.superior .info{
    font-weight: 600;
    text-decoration: none;
}

.header{
    background-color: hsl(318, 100%, 95%);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 2px 2px 1px #f902bf55;
    z-index: 2;
   
}

.header .contenedor{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 100;
}

.header .logo{
    color: #ffeeee;
    text-align: center;
    padding: 0.5%;
    flex-grow: 1;
}

.header .logo img{
    width: 160px;
    margin: 0 auto;
}


/* Estilos menú */
.menu li {
    display: inline-block;
    margin-right: 30px;
}

.menu a {
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: rgba(136, 129, 134, 0.785);
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.header .buscador{
    
    text-decoration: none;
    list-style: none;
    text-align: center;
    flex-grow: 1;
    
    outline: none;
    
    
}
.buscarVisible{
    height: 30px;
    width: 300px;
    margin-right: 10px;
    
    border: none;
    outline: none;
    
    transition: all 0.5s linear;
}
.menu a:hover {
    color: rgb(239, 0, 144);
}

/* Estilos Principal*/
.imagenes_principal{
    text-align: center;
    z-index: 2;
}

/* Información */

.informacion_main{
    margin: 3%;
}

.informacion_main  h2{
    font-size: 3em;
    color: #e087b8;
    border-bottom: 1.2px solid #fd008b;
}

.informacion_main > h2{
    width: 50%;
}

.informacion_main > .section1_info{
    display: flex;
    align-items: flex-start;
}

.informacion_main > .section1_info > p{
    
    background-color:  #e087b855;
    width: 48%;
    margin-top: 1%;
    font-size: 2em;
    padding: 2%;
    padding-top: 3.6%;
    padding-bottom: 3.6%;
    border-radius: 5%;
}
.informacion_main > .section1_info > img{
    border: 1px solid #e32b90;
    margin-left: 7%;
    margin-top:  1%;
    width: 580px;
    height: 740px;
}

.informacion_main > .section2_info > .h2_info{
    display: flex;
}

.h2_f1{
    margin-top: 15%;
    width: 50%;
}

.h2_f2{
    margin-top: 15%;
    width: 50%;
    margin-left: 10%;
}

.informacion_main > .section2_info > section{
    display: flex;
}

.informacion_main > .section2_info > section >iframe{
    border: 1px solid #e32b90;
    border-radius: 2%;
    margin-top: 2%;
    width: 600px;
    height: 600px;
}

.nav_info{
    border-radius: 2%;
    margin-left: 10%;
    margin-top: 2%;
    width: 600px;
    height: 600px;
}

.nav_info > ul{
    list-style-type: none;
    text-align: center;
    font-size: 2em ;
    padding-bottom: 2%;
}

.nav_info >ul >li{
    border-bottom: 2px solid #e32b90;
    margin-top: 8.5%;
}

.nav_info > ul >li >a{
    text-decoration: none;
    color: #000000;
}

.nav_info > ul >li >.info_a{
    text-decoration: none;
    color: #c6006d;
}

.nav_info >ul >li > a:hover{
    transition: 0.4s;
    color: #81e094;
    font-size: 34px;
    cursor: pointer;
}

/*Contacto*/

.main_contacto{
    margin: 4%;
}

.main_contacto > section > h2{
    font-size: 40px;
    color: #e087b8;
    border-bottom: 1.2px solid #fd008b;
    width: 42%;
}

.formulario{
    width: 45%;
    height: auto;
    display: inline-block;
    padding: 20px 5px;
    border: #4b4949;
}

.formulario > div{
    font-size: 18px;
}

.formulario *{
    width: 85%;
    display: inline-block;
    margin-top: 3.5%;
    font-size: 24px;
}

.formulario > input{

    width: 93%;
    outline: none;
    border: none;
    border-left: 1px solid #e32b90;
    border-bottom:  1px solid #e32b90;
}



/* Estilos footer*/

/* SECCION SUSCRIBIRSE*/
.button_send{
    display: inline;
    
    border: none;
    padding: 0.5%;
    background-color: #f521b5ac;
    color: #ffffff;
    cursor: pointer;
}
.contenedor_footer .suscribirse{
    
    padding: 0.5%;
    border: none;
    text-align: left;
    margin: 4px ;
    width: 20%;
}
/* PIE DE PAGINA */
.footer{
    width: 100%;
    background:  #e087b8;
    color: white;
    margin-top: 1%;
    overflow-x: auto;
}

.footer .contenedor_footer{
    display: inline-block;
    padding-top: 1%;
    text-align: center;
    margin: 2%;
}
.contenedor_suscribirse{
    text-align: left;
    
}


.contenedor_footer > p {
    font-size: 18px;
}



.contenedor_footer .social_net{
    list-style: none;
    text-align: center;
}


.social_net > li{
    display: inline-block;
    
}

.social_net .nets{
    width: 5%;
    
}


.footer .contenedor_footer{
    padding-top: 2%;
    text-align: center;
    margin: 2%;
}

.contenedor_footer > h2{
    color: white;
}

.contenedor_footer > p {
    font-size: 18px;
}

.contenedor_footer .social_net{
    list-style: none;
    text-align: center;
}

.social_net > li{
    display: inline-block;
    padding: 1.5%;
}

.social_net .nets{
    width: 5%;
    
}