*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
};


body {
    margin: 0;
    padding: 0;
    background-color: #dac2c2;
}

.encabezado {
    position: sticky;
    background: linear-gradient(to right, #ffffff, rgb(255, 106, 131) 55%);
    width: 100%;
    top: 0;
    left: 0;    
    z-index: 3;
}

.titulo_general {
    margin-top: -5px;
    width: 100%;
    font-size: 45px;
    display: inline-block;
    padding-top: 1%;
    text-align: center;
}

.essentials {
    text-decoration: dashed;
    text-align: center;
    padding-left: 5%;
    font-size: 25px;
}



/* Estilos menú */
.menu {
    list-style-type: none;
    padding: 0.5%;
    width: 100%;
    background-color: #6b6969;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;

}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
}

.menu a:hover {
    color: rgb(239, 0, 144);
}

/* Estilos Principal*/
.imagenes_principal{
    text-align: center;
    z-index: 2;
}

/* Información */

.informacion_main{
    margin: 3%;
    display: inline-block;
}

iframe{
    border: 2px solid #e32b90;
    display: inline-block;
    margin-left: 57%;
    display: block;   
}

.titulo_informacion{
    font-size: 40px;
    color: #e087b8;
}



/* Estilos footer*/

.footer{
    width: 100%;
    background: #c1115a88;
    color: white;
    margin-top: 1%;
    overflow-x: auto;
}

.footer .contenedor_footer{
    padding-top: 2%;
    text-align: center;
    margin: 2%;
}

.contenedor_footer > h2{
    color: white;
}

.contenedor_footer > p {
    font-size: 18px;
}

.contenedor_footer .social_net{
    list-style: none;
    text-align: center;
}

.social_net > li{
    display: inline-block;
    padding: 1.5%;
}

.social_net .nets{
    width: 5%;
    
}