*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
};


body {
    margin: 0;
    padding: 0;
    background-color: #dac2c2;
}

/* BARRA SUPERIOR */
.superior{
    text-align: center;
}
.superior a {
    
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.785);
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    
}
.superior li {
    display: inline-block;
    padding: 0.5%;    
}
.superior .info{
    font-weight: 600;
    text-decoration: none;
}

.header{
    background-color: hsl(318, 100%, 95%);
    position: sticky;
    background: linear-gradient(to right, #ffffff,  #e087b8 55%);
    width: 100%;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 2px 2px 1px #f902bf55;
    z-index: 2;
   
}

 HEAD
a
.essentials {
    text-decoration: dashed;
    text-align: center;
    padding-left: 5%;
    font-size: 25px;
}
.header .listaMenu{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 100;
}

.header .logo{
    color: #ffeeee;
    text-align: center;
    padding: 0.5%;
    flex-grow: 1;
}

.header .logo img{
    width: 200px;
    margin: 0 auto;
}

.contenedor{
    padding: 2%;
    margin-top: 2%;
}
/*secciones*/
.main .imgMain{
    display: flex;
    text-align: center;
    width: 100px;
}


/**************************/
.subtitulo{
    font-size: 40px;
    color: #4b4949;
    text-align: center;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    padding: 10px;
    border-bottom: 1px solid #000000;
}


/****** resumen */

.resumen .subResumen{
    margin-top: 1%;
    margin-bottom: 1%;
    color: #000000;
    font-size: 24px;
    font-family: robotto, sans-serif;
}



.contenedor_resumen{
    width: 100%;
    align-items: center;
    display: flex;
    box-shadow: 0 0 5px 7px #000000;
}

.resumen{
    width: 30%;
    background-color: #ffffff;
    height: auto;
    margin: 1%;
    display: inline-block;
    text-align: center;
    padding: 4px;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 10px;
    
}

.resumen:hover{
    transform: scale(1.05);
    background-color: #ffffff;  
    box-shadow: 3px 10px 20px rgb(106, 106, 106);
}



.contenedor_talla{
    width: 100%;
    align-items: center;
    display: flex;
    
}
.imgTalla{
    width: 100%;
    text-align: center;
}

.contenedor_enLinea{
    width: 100%;
    align-items: center;
    display: flex;
    
}
.enLinea{
    width: 100%;
    text-align: center;
    padding: 2%;
}


/*******************************************************/





/* Estilos menú */
HEAD
.menu {
    list-style-type: none;
    padding: 0.5%;
    width: 100%;
    background-color: #6b6969;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;

}



.menu li {
    display: inline-block;
    margin-right: 30px;
}

.menu a {
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: rgba(136, 129, 134, 0.785);
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.header .buscador{
    
    text-decoration: none;
    list-style: none;
    text-align: center;
    flex-grow: 1;
    outline: none;   
    
}
.buscarVisible{
    height: 30px;
    width: 300px;
    margin-right: 10px;
    
    border: none;
    outline: none;
    
    transition: all 0.5s linear;
}
.menu a:hover {
    color: rgb(239, 0, 144);
}

/* Estilos Principal*/


/* Información */

.informacion_main{
    margin: 3%;
}

.informacion_main  h2{
    font-size: 3em;
    color: #fa6ebb;
    border-bottom: 1.2px solid #fd008b;
}

.informacion_main > h2{
    width: 50%;
}

.informacion_main > .section1_info{
    display: flex;
    align-items: flex-start;
}

.informacion_main > .section1_info > p{
    background-color:  #e087b855;
    width: 48%;
    margin-top: 1%;
    font-size: 2em;
    padding: 2%;
    padding-top: 3.6%;
    padding-bottom: 3.6%;
    border-radius: 5%;
}

.informacion_main > .section1_info > img{
    border: 1px solid #e32b90;
    margin-left: 7%;
    margin-top:  1%;
    width: 580px;
    height: 740px;
}

.informacion_main > .section2_info > .h2_info{
    display: flex;
}

.h2_f1{
    margin-top: 15%;
    width: 50%;
}

.h2_f2{
    margin-top: 15%;
    width: 50%;
    margin-left: 10%;
}

.informacion_main > .section2_info > section{
    display: flex;
}

.informacion_main > .section2_info > section >iframe{
    border: 1px solid #e32b90;
    border-radius: 2%;
    margin-top: 2%;
    width: 600px;
    height: 600px;
}

.nav_info{
    border-radius: 2%;
    margin-left: 10%;
    margin-top: 2%;
    width: 600px;
    height: 600px;
}

.nav_info > ul{
    list-style-type: none;
    text-align: center;
    font-size: 2em ;
    padding-bottom: 2%;
}

.nav_info >ul >li{
    border-bottom: 2px solid #e32b90;
    margin-top: 8.5%;
}

.nav_info > ul >li >a{
    text-decoration: none;
    color: #000000;
}

.nav_info > ul >li >.info_a{
    color: #c6006d;
}

.nav_info >ul >li > a:hover{
    transition: 0.2s;
    color: #77db89;
    font-size: 34px;
    cursor: pointer;
}

/*Contacto*/

.main_contacto{
    margin: 3%;
    display: flex;
    align-items: flex-start;
}

.section1_contact{
    width: 48%;
}

.section1_contact > h2{
    font-size: 40px;
    margin-bottom: 2%;
    color: #fa6ebb;
    border-bottom: 1.2px solid #fd008b;
    width: 92%;
    height: 1%;
}

.formulario{
    height: auto;
    display: inline-block;
    padding: 20px 5px;
}

.formulario > p{
    font-size: 20px;
    color: #ff0000;
    width: 90%;
}

.formulario *{
    margin-top: 3.5%;
    font-size: 24px;
}

.formulario > input{
    margin-top: 4%;
    margin-bottom: 2%;
    width: 93%;
    outline: none;
    border: none;
    border-left: 1px solid #e32b90;
    border-bottom:  1px solid #e32b90;
    border-radius: 7px 8px 8px 9px;
}

.is-valid {
    background-color: #3cff0034 !important;
    border-left: 1px solid #3cff00 !important;
    border-bottom: 1px solid #3cff00 !important;
}

.is-invalid{
    background-color: #ff000037 !important; 
    border-bottom: 1px solid #f81818 !important;
    border-left: 1px solid #f81818 !important;
}

/*Botones*/

.formulario > div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
    width: 93%;
}

.formulario > div > button{
    width: 100%;
    padding: 2%;
}

.button_send_contact{
    margin-right: 2%;
    padding-inline-start: 20px;
    background-color: #6b6969cf;
    border: 1px solid #fd008b;
    border-radius: 10px 10px 10px 10px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.090s linear;
}

.button_send_contact:hover{
    background-color: #fa6ebb;
    border: 1px solid #ffffff;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5 linear;
    color: #ffffff;
}

.button_clear_contact{
    margin-left: 2%;
    padding-inline-start: 20px;
    background-color: #6b6969cf;
    border: 1px solid #fd008b;
    border-radius: 10px 10px 10px 10px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.090s linear;
}

.button_clear_contact:hover{
    background-color: #fa6ebb;
    border: 1px solid #fd008b;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5 linear;
    color: #ffffff;
}

/*Seccion 2*/

.section2_contact{
    width: 54%;
    padding: 3%;
    padding-top: 1%;
    background-color: #fa6ebb35;
    margin-left: 4%;
    margin-top:  1%;
    border-radius: 35px 35px 35px 35px;
}

.section2_contact > h2{
    font-size: 40px;
    margin-bottom: 2%;
    color: #fa6ebb;
    border-bottom: 1.2px solid #fd008b;
}

.nav_contact > ul{
    list-style-type: none;
    text-align: center;
    font-size: 30px ;
    padding-bottom: 2%;
}

.nav_contact >ul >li{
    border-bottom: 2px solid #e32b90;
    margin-top: 8.5%;
}

.nav_contact > ul >li >a{
    text-decoration: none;
    color: #000000;
}

.nav_contact >ul >li > a:hover{
    transition: 0.1s;
    color: #fd008b;
    font-size: 32px;
    cursor: pointer;
}

.nav_contact > ul >li >.contact_f:hover{
    color: #0F91F3;
}

.nav_contact > ul >li >.contact_i:hover{
    color: #FF1953;
}



/* Estilos footer*/

/* SECCION SUSCRIBIRSE*/
.button_send{
    display: inline;
    border: none;
    padding: 0.5%;
    background-color: #f521b5ac;
    color: #ffffff;
    cursor: pointer;
}
.contenedor_footer .suscribirse{
    
    padding: 0.5%;
    border: none;
    text-align: left;
    margin: 4px ;
    width: 20%;
}
/* PIE DE PAGINA */
.footer{
    width: 100%;
    background:  #e087b8;
    color: white;
    margin-top: 1%;
    overflow-x: auto;
}

.footer .contenedor_footer{
    display: inline-block;
    padding-top: 1%;
    text-align: center;
    margin: 2%;
}
.contenedor_suscribirse{
    text-align: left;
    
}


.contenedor_footer > p {
    font-size: 18px;
}



.contenedor_footer .social_net{
    list-style: none;
    text-align: center;
}


.social_net > li{
    display: inline-block;
    
}

.social_net .nets{
    width: 5%;
    
}


.footer .contenedor_footer{
    padding-top: 2%;
    text-align: center;
    margin: 2%;
}

.contenedor_footer > h2{
    color: white;
}

.contenedor_footer > p {
    font-size: 18px;
}

.contenedor_footer .social_net{
    list-style: none;
    text-align: center;
}

.social_net > li{
    display: inline-block;
    padding: 1.5%;
}

.social_net .nets{
    width: 5%;
}